@{
    Layout = "_Layout";
    var symptomId = (Guid)ViewData["SymptomId"]!;
    var symptomName = ViewData["SymptomName"] as string;
    var question = ViewData["Question"] as string;
}

<h3>Вопрос @ViewData["Asked"] / @ViewData["Total"]</h3>
<br />
<p>@question</p>

<form asp-action="Answer" method="post">
    <input type="hidden" name="symptomId" value="@symptomId" />

    @(Html.DevExtreme().Button()
        .Text("Да")
        .Type(ButtonType.Success)
        .StylingMode(ButtonStylingMode.Contained)
        .OnClick("function(e) { submitForm(true); }")
    )

    @(Html.DevExtreme().Button()
        .Text("Нет")
        .Type(ButtonType.Danger)
        .StylingMode(ButtonStylingMode.Contained)
        .OnClick("function(e) { submitForm(false); }")
    )
</form>

<script>
    function submitForm(answer) {
        const form = document.querySelector('form');
        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'answerYes';
        hiddenInput.value = answer;
        form.appendChild(hiddenInput);
        form.submit();
    }
</script>